/* Incremental Zoo 0.45 */

body {
  height: 100%;
  margin:0;
  padding:0;
  text-align: left;
}

.container {
  font-family: Georgia,"URW Palladio L","URW Bookman L","Century Schoolbook",Times,"Times New Roman","Palatino Linotype",serif;
  font-size: 0.85em;
  line-height: 120%;
  width: 800;
  margin:20px auto 0 auto;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-family: Georgia,"URW Palladio L","URW Bookman L","Century Schoolbook",Times,"Times New Roman","Palatino Linotype",serif;
  font-size: 2.2em;
  margin: 20px 0 10px 0;
  color: #484;
}
h2 {
  font-family: Georgia,"URW Palladio L","URW Bookman L","Century Schoolbook",Times,"Times New Roman","Palatino Linotype",serif;
  font-size: 1.4em;
  color: #448;
  margin: 8px 0 3px 0;
}
h3 {
  font-size: 1em;
  margin: 8px 0 8px 0;
  color: #c33;
  cursor: pointer;
}
#title {
  line-height: 120%;
  position: absolute;
  left: 380px;
  margin: -2px 0 0 0;
  display:inline-block;
  width:750px;
  vertical-align: top;
  margin-top: -20px;
}
#what {
  color: #448;
 }

#animalsContainer {
  position: absolute;
  left: 380px;
  top: 250px;
  margin: -2px 0 0 0;
  display:inline-block;
  width:750px;
  vertical-align: top;
}

#animalsTitle, #badgesTitle {
	border: 1px solid #999;
	height: 35px;
	color: #000;
	display: inline-block;
	padding: 0 20px 0 20px;
	cursor: pointer;
}
#animalsTitle {
	border-bottom: 0;
	width: 230px;
}
#badgesTitle {
	background-color: #ccc;
	width: 420px;
}

.animal {
  position: relative;
  clear: both;
  float: left;
  border: 1px solid #999;
  margin: 2px 0 0 0;
  padding-left: 18px;
  min-width: 500px;
  max-width: 500px;
  min-height: 140px;
  max-height: 140px;
  text-decoration:none;
  text-align: left;
  line-height: 90%;
  cursor: pointer;
  display: none;
}

.stats {
  margin-top: -3px;
  line-height: 130%;
}
.image {
  clear: both;
  float: right;
  margin-left: 20px;
  width: 160px;
  height: 140px;
 }
.own {
  position: absolute;
  top: 0px;
  right: 180px;
  font-weight: bold;
  text-align: right;
}
.commerce {
  position: absolute;
  top: 60px;
  right: 180px;
  text-align: right;
  font-size: 95%;
  line-height: 130%;
}
.buy, .sell {
  border-bottom: 1px solid #999;
}
.buy:hover, .sell:hover {
  color: #c00;
  border-bottom: 1px solid #c00;
}
.stats, .commerce {
	font-family: Trebuchet, Arial, sans-serif;
}

.buyTime {
  clear: both;
  float: left;
  border: 1px solid #999;
  margin: 2px 0 0 0;
  padding-left: 18px;
  min-width: 500px;
  max-width: 500px;
  min-height: 80px;
  max-height: 80px;
  text-decoration:none;
  text-align: left;
  cursor: pointer;
  display: inline;
}
#visitors {
  clear: both;
  float: left;
  border: 1px solid #999;
  margin: 2px 0 0 0;
  padding-left: 18px;
  min-width: 500px;
  max-width: 500px;
  min-height: 120px;
  max-height: 120px;
  text-decoration:none;
  text-align: left;
  cursor: pointer;
  display: inline;
}
#buyTime, #visitorsBuy, #visitorsTimeBuy {
  text-decoration: underline;
}

.boosts {
	border: 1px solid #999;
	margin: 2px 0 0 2px;
	color:#000;
	padding: 0 10px 0 10px;
	padding-bottom: -15px;
	max-height: 32px;
	min-height: 32px;
	font-size: 90%;
	font-family: Trebuchet, Arial, sans-serif;
	min-width: 190px;
	max-width: 190px;
	text-decoration:none;
	cursor: pointer;
	display: none;
}
.boosts:hover {
  color: #c00;
}

#left {
  position:fixed;
  margin: -20px 10px 0 20px;
  min-width: 350px;
  max-width: 350px;
  max-height: 100%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  overflow: auto;
}

.buttonLike {
  border-style: solid;
  border-color: #999;
  border-width: 1px;
  color: #000;
  display: inline-block;
  margin: 0;
  font-weight: bold;
  height: 37px;
  line-height: 37px;
  padding-top:0;
  width:320px;
  text-decoration:none;
  text-align:center;
  cursor: pointer;
}

.money {
  border-style: solid;
  border-color: #999;
  border-width: 1px;
  color: #cfc;
  background-color: #5b5;
  display: inline-block;
  font-weight: normal;
  font-size: 90%;
  margin: 6px 2px 2px 0;
  height: 37px;
  width: 102px;
  padding-top:0;
  text-decoration:none;
  text-align:center;
  cursor: pointer;
}

#have, .borrow {
  color: #cfc;
  background-color: #5b5;
}
#owe, .payBack {
  color: #fbb;
  background-color: #d33;
}

#badgesContainer {
  display: inherit;
  max-width: 730px;
  vertical-align: top;
  overflow: auto;
  display: none;
  margin-top: 2px;
}
.badges {
  border: 1px solid black;
  margin-right: 2px;
  width: 48px;
  height: 48px;
  display: none;
  z-index: 1000;
}
#offerContainer, #exportContainer, #fineContainer {
  font-weight: normal;
  height: 270px;
  width: 340px;
  text-decoration:none;
  text-align:center;
  cursor: pointer;
  display: none;
}
#exportText {
  width: 250px;
  height: 200px;
}

#offer h1 {
  color: #e66;
}
#offerNo, #offerYes, #exportOk, #fineOk {
  margin-top: 10px;
  display: inline-block;
  border: 1px solid #999;
  color: #c33;
  width: 140px;
  height: 37px;
  line-height: 37px;
  background-color: #ddf;
  margin-bottom: 20px;
}
#log {
	border-style: solid;
	border-color: #999;
	border-width: 1px;
	display: inline-block;
	padding: 20px;
	width: 280px;
	font-size: 1em;
	font-family: Trebuchet, Arial, sans-serif;
	color: #448;
	background-image: none;
	background-color: #eec;
	text-align: left;
}
  
.options {
  background-color: #ddf;
  border:1px solid #999;
  color: #c33;
  height:40px;
  line-height:40px;
  width:70px;
  text-decoration:none;
  text-align:center;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 10px;
}

#photoCredits {
  clear: both;
  padding-top: 20px;
  font-size:0.8em;
}

#donate {
  position: fixed;
  top: 120px;
  right: 10px;
}

/* tooltips */
a {
	color:#000;
	text-decoration:none;
}
a:hover {
	text-decoration:none;}
a.tooltip span {
	display:none;
	margin-left: -50px;
	margin-top: 30px;
	line-height: 120%;
	width: 120px;
	padding: 6px;
	z-index: 10000;
}
a.tooltip:hover span {
	display:inline;
	position:absolute;
	background:#ffffff;
	border:1px solid #cccccc;
	color:#000;
	padding: 6px;
}
a.tooltip2 span {
	display:none;
	margin-left: 300px;
	margin-top: 3px;
	line-height: 120%;
	width: 250px;
	padding: 6px;
	z-index: 1000;
}
a.tooltip2:hover span {
	display:inline;
	position:absolute;
	background:#efd;
	border:1px solid #cccccc;
	color:#000;
	padding: 6px;
}
a.tooltip3 span {
	display:none;
	margin-left: 20px;
	margin-top: 20px;
	line-height: 120%;
	width: 150px;
	padding: 6px;
	z-index: 1000;
}
a.tooltip3:hover span {
	display:inline;
	position:absolute;
	background:#efd;
	border:1px solid #cccccc;
	color:#000;
	padding: 6px;.tt {
	font-weight:normal;
	line-height:100%;
}